.extra-info {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}

.extra-info h4 {
  margin: 15px 0px;
}

.extra-info .MuiDivider-root {
  background-color: grey;
  margin: 0;
}

.extra-info > .status {
  margin-left: 15px;
}

.extra-info > .budget {
  margin-left: 15px;
}

.extra-info > .revenue {
  margin-left: 15px;
}

.extra-info > .keywords {
  flex: 1 1 auto;
  margin-left: 15px;
}

.extra-info > .social-media {
  margin-left: 15px;
}
