.header {
  position: absolute;
  z-index: 1;
  display: flex;
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  padding: 30px;
}

.fixed {
  position: fixed;
  background: var(--primary-color);
  transition: all 0.5s linear;
  box-shadow: 0px 0px 10px 10px var(--highlight-color);
}

.header > .left {
  display: flex;
  align-items: center;
}

.header > .center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.7;
  background: var(--highlight-color);
  border-radius: 10px;
  padding: 0 20px;
}

.header > .center > :first-child {
  font-size: 20px;
  color: grey;
  margin-right: 5px;
}

.header > .center input {
  color: white;
  border: none;
  outline-style: none;
  background: transparent;
  width: 100%;
  padding: 15px 0;
}

::placeholder {
  color: grey;
}

:-ms-input-placeholder {
  color: grey;
}

.header > .right {
  display: flex;
  align-items: center;
}

.header > .right > :nth-child(4) {
  margin: 0 20px;
}
