.movies-grid {
  display: flex;
  float: right;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 30px 15px 30px 30px;
  width: 100%;
  transition: width 0.2s ease-out;
}

.filter-drawer-open {
  width: 75%;
}

.movies-grid > :not(:last-child) {
  margin-right: 25px;
}

@media (max-width: 1600px) {
  .movies-grid > .movie-item {
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-flow: column;
    width: calc(100% / 5 - 25px);
    background: var(--highlight-color);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }
}

@media (min-width: 1600px) {
  .movies-grid > .movie-item {
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-flow: column;
    width: calc(100% / 6 - 25px);
    background: var(--highlight-color);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }
}

@media (max-width: 1200px) {
  .movies-grid > .movie-item {
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-flow: column;
    width: calc(100% / 4 - 25px);
    background: var(--highlight-color);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }
}

@media (max-width: 900px) {
  .movies-grid > .movie-item {
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-flow: column;
    width: calc(100% / 3 - 25px);
    background: var(--highlight-color);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }
}

@media (max-width: 700px) {
  .movies-grid > .movie-item {
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-flow: column;
    width: calc(100% / 2 - 25px);
    background: var(--highlight-color);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  .movies-grid > .movie-item {
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-flow: column;
    width: calc(100% - 25px);
    background: var(--highlight-color);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }
}

.movies-grid > .movie-item > .content-wrapper {
  position: absolute;
  width: 100%;
  bottom: 15px;
  left: 15px;
}

.movies-grid > .movie-item > .save-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.movies-grid > .movie-item:hover {
  box-shadow: 0 0 10px 5px var(--accent-color);
}

.movies-grid > .movie-item:hover img {
  opacity: 0.7;
}

.movies-grid > .movie-item img {
  max-width: 100%;
  mask-image: linear-gradient(black, transparent 95%);
}

.margin-bottom {
  margin-bottom: 25px;
}
